@import "@/styles/_config.scss";

.HeroSection {
  height: calc(100vh - $NavbarHeight - $NavbarPaddingTopBottom - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow: visible;
}

.CommingSoonSubtitle {
  color: $dull-black;
  font-family: $KarlaFont;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  padding: 15px 30px;
  background-color: #f7edff;
  border-radius: 30px;
  margin-top: 6%;
  margin-bottom: 1rem;
  white-space: nowrap;

  @media (max-width: 1000px) {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 12%;
  }

  @media (max-width: 768px) {
    margin-bottom: 24%;
  }
}

.HeroText {
  font-family: $Exo2Font;
  font-style: normal;
  font-weight: 700;
  // font-size: 73px;
  line-height: 110%;
  text-align: center;
  color: #232323;
  margin-bottom: 3rem;
  position: relative;

  span {
    color: $primary-purple;
    position: relative;
    // background-color: red;

    img {
      position: absolute;
      object-fit: contain;

      &:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(2) {
        transform: translate(-70%, -100%);

        @media (max-width: 768px) {
          transform: scale(0.8) translate(-50%, -100%);
        }
      }
    }
  }

  & > img {
    position: absolute;
    right: -8rem;
    top: 0;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  @media (min-width: 10px) {
    font-size: 50px;
  }

  @media (min-width: 576px) {
    font-size: 56px;
  }

  @media (min-width: 768px) {
    font-size: 50px;
    // 56px
  }

  @media (min-width: 992px) {
    font-size: 73px;
  }

  @media (min-width: 1200px) {
    font-size: 73px;
  }
}

.JoinWaitList {
  position: relative;
  // background-color: red;

  .JoinWaitListInput {
    height: 50px;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 65% 35%;
    border: 3px solid $primary-purple;

    input {
      font-family: $KarlaFont;
      outline: none;
      font-size: 16px;
      border: none;
      padding-left: 1.5rem;
    }

    button {
      font-family: $KarlaFont;
      font-size: 16px;
      border: none;
      outline: none;
      background-color: $primary-purple;
      color: white;
      border-radius: 30px;
      transform: scale(1.08);
    }

    @media (max-width: 400px) {
      width: 80vw;
      height: 40px;
    }
  }

  .JoinWaitListMessage {
    position: absolute;
    font-family: $KarlaFont;
    font-size: 16px;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    z-index: -1;
    opacity: 0;
    transition: 500ms;
    white-space: nowrap;
  }

  & > img {
    position: absolute;
    right: -19.5rem;
    top: -1.2rem;

    @media (max-width: 1040px) {
      right: none;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 40%);
    }

    @media (max-height: 680px) {
      display: none;
    }
  }
}

.BottomLeftScribble {
  position: fixed;
  bottom: 2rem;
  left: 2rem;

  @media (max-height: 700px) {
    display: none;
  }

  @media (max-width: 1040px) {
    display: none;
  }
}
