// Fonts
$Exo2Font: "Exo 2", sans-serif;
$KarlaFont: "Karla", sans-serif;

// Colors
$primary-purple: #ac47ff;
$dull-white: #f6fbfb;
$dull-black: #232323;
$sec-yellow: #ffd335;
$black-title: #00293a;
$light-purple: #abbfed;
$light-yellow: #f1ff85;
$light-orange: #fabe75;
$light-cayn: #8eebf5;
$cayn-white: #c2fff8;
$white100: #eeeeee;
$white80: #dfdfdf;
$white60: #b6b6b6;
$black100: #212121;
$black60: #858585;
$black80: #454545;

$canva-gradient: linear-gradient(93.81deg, #b276ff -8.63%, #8eebf5 103.11%);

// Heights
$NavbarHeight: 83px;
$NavbarPaddingTopBottom: 1rem;
$NavbarPaddingLeftRight: 4rem;
